body {
  background-color: $primary-white-color;
  color: $primary-text-color;
  // font-family: roboto, sans-serif;
  font-style: normal;

  font-family: $main_font;
}
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
img {
  display: block;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
