$primary-text-color: #212121;
$title-text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$main-bg-color: #f5f4fa;
$second-bg-color: #2f303a;
$transparency-color: rgba(255, 255, 255, 0.6);
$icon-color: #afb1b8;
$timing-animation: cubic-bezier(0.4, 0, 0.2, 1);

$webstudio-font: "Raleway", sans-serif;
$main_font: "Roboto", sans-serif;
